/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f6f6f6;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
}

a {
  color: #ffffff;
}

.container {
  margin: 0 auto;
  padding: 0px 15px;
  max-width: 1270px;
}

.container-right {
  padding-left: calc((100% - 1270px) / 2 + 15px);
}

.none {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.header {
  position: relative;
  overflow: hidden;
  min-height: 940px;
  background: linear-gradient(154deg, #428e5f 0%, #112120 100%), #204434;
}
.header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 96px;
  background-image: url("/../imgs/header/header-bottom.svg");
  background-size: 100%;
}

.header__top {
  position: relative;
  z-index: 1;
  padding-top: 44px;
  padding-bottom: 86px;
}

.header__row {
  display: flex;
}

.header__main {
  position: relative;
  max-width: 592px;
  z-index: 1;
}

.header__img {
  position: relative;
  flex-grow: 1;
}
.header__img img {
  position: absolute;
  top: -181px;
  right: -99px;
  max-width: unset;
  width: 894px;
  height: 940px;
}

.header__bage {
  display: inline-block;
  padding: 12px 30px;
  font-size: 18px;
  margin-bottom: 7px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.25);
}

.header__title {
  font-weight: 400;
  font-size: 55px;
  margin-bottom: 30px;
}

.header__text {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 25px;
  opacity: 0.5;
}

.header__btn {
  padding: 13px 44px;
  background: linear-gradient(172deg, #ff7b4e 0%, #ff584e 100%);
  border-radius: 27px;
  transition: all 0.2s ease-in;
  font-size: 25px;
  font-weight: 500;
  padding: 27px 47px;
  border-radius: 27px;
}
.header__btn:hover {
  filter: saturate(1.5);
}
.header__btn:active {
  position: relative;
  bottom: -1px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 80px;
       column-gap: 80px;
}

.nav__logo {
  font-weight: 700;
  font-size: 20px;
}
.nav__logo--footer {
  color: #ff7c4e;
}

.nav__list {
  display: flex;
  -moz-column-gap: 80px;
       column-gap: 80px;
}
.nav__list a {
  position: relative;
}
.nav__list a.active::after, .nav__list a:hover::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 30px;
  height: 4px;
  background-color: #c4c4c4;
  border-radius: 50px;
}
.nav__list--footer a {
  color: rgba(15, 31, 28, 0.5);
}
.nav__list--footer a:hover::after {
  display: none;
}

.nav__login {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
.nav__login--footer {
  -moz-column-gap: 46px;
       column-gap: 46px;
}
.nav__login--footer a {
  color: rgba(15, 31, 28, 0.5);
}

.nav__btn {
  padding: 13px 44px;
  background: linear-gradient(172deg, #ff7b4e 0%, #ff584e 100%);
  border-radius: 27px;
  transition: all 0.2s ease-in;
  border-radius: 100px;
}
.nav__btn:hover {
  filter: saturate(1.5);
}
.nav__btn:active {
  position: relative;
  bottom: -1px;
}

.destinations {
  padding-top: 96px;
  padding-bottom: 100px;
  overflow-x: hidden;
}

.destinations__row {
  display: flex;
  -moz-column-gap: 49px;
       column-gap: 49px;
}

.destinations__content {
  max-width: 456px;
}

.destinations__title {
  font-size: 30px;
  font-weight: 600;
  color: #0f1f1c;
}
.destinations__title span {
  font-size: 55px;
}

.destinations__text {
  font-size: 25px;
  color: rgba(15, 31, 28, 0.5);
  margin-bottom: 60px;
}

.destinations__btn {
  padding: 13px 44px;
  background: linear-gradient(172deg, #ff7b4e 0%, #ff584e 100%);
  border-radius: 27px;
  transition: all 0.2s ease-in;
  padding: 25px 44px;
  font-size: 20px;
  font-weight: 600;
}
.destinations__btn:hover {
  filter: saturate(1.5);
}
.destinations__btn:active {
  position: relative;
  bottom: -1px;
}

.destinations__slider {
  width: 1110px;
  flex-shrink: 0;
}

.slider__item {
  margin-top: 27px;
  width: 335px;
  height: 402px;
  border-radius: 35px;
  transition: 0.2s ease-in;
}

.slider {
  position: relative;
  height: 456px;
}
.slider .center .slider__item {
  margin-top: 0;
  height: 456px;
}

.slider__btn {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  z-index: 2;
  display: flex;
  align-items: center;
  background: linear-gradient(172deg, #ff7b4e 0%, #ff584e 100%);
  border-radius: 50%;
  width: 68px;
  height: 68px;
  transition: 0.2s ease-in;
}
.slider__btn--prev {
  padding-left: 26px;
  justify-content: flex-start;
  left: -27px;
}
.slider__btn--next {
  right: -27px;
  padding-right: 26px;
  justify-content: flex-end;
}
.slider__btn:hover {
  filter: saturate(1.5);
}
.slider__btn:active {
  scale: 1.1;
}

.customers {
  padding-top: 100px;
  padding-bottom: 115px;
}

.customers__row {
  display: flex;
  -moz-column-gap: 68px;
       column-gap: 68px;
}

.customers__img {
  border-radius: 35px;
}

.customers__content {
  max-width: 565px;
}

.customers__title {
  color: #0f1f1c;
  font-size: 45px;
  font-weight: 500;
  margin-bottom: 35px;
}

.card {
  max-width: 490px;
}

.card__row {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  -moz-column-gap: 33px;
       column-gap: 33px;
}

.card__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 134px;
  height: 134px;
  background: linear-gradient(172deg, #ff7b4e 0%, #ff584e 100%);
  border-radius: 50%;
}

.card__name {
  font-size: 33px;
  color: #0f1f1c;
}

.card__place {
  color: rgba(15, 31, 28, 0.5);
  font-size: 25px;
  font-weight: 400;
}

.card__text {
  color: rgba(15, 31, 28, 0.5);
  font-size: 22px;
  margin-bottom: 22px;
}

.start {
  padding-top: 115px;
  padding-bottom: 135px;
  text-align: center;
}

.start__wrapper {
  position: relative;
  background-color: #ffffff;
  border-radius: 60px;
  min-height: 581px;
}
.start__wrapper::before {
  content: "";
  width: 63px;
  height: 83px;
  position: absolute;
  left: 74px;
  bottom: 56px;
  background-image: url("../imgs/main/start/decor1.svg");
}
.start__wrapper::after {
  content: "";
  width: 63px;
  height: 83px;
  position: absolute;
  right: 74px;
  top: 56px;
  background-image: url("../imgs/main/start/decor2.svg");
}

.start__title {
  position: relative;
  padding-top: 116px;
  margin-bottom: 30px;
  text-align: center;
  color: #0f1f1c;
  font-size: 45px;
  z-index: 9;
}

.start__text {
  margin-bottom: 60px;
  font-size: 30px;
  font-weight: 400;
  color: rgba(15, 31, 28, 0.5);
}

.start__btn {
  padding: 13px 44px;
  background: linear-gradient(172deg, #ff7b4e 0%, #ff584e 100%);
  border-radius: 27px;
  transition: all 0.2s ease-in;
  position: relative;
  padding: 25px 55px;
  font-size: 20px;
  font-weight: 600;
  z-index: 9;
}
.start__btn:hover {
  filter: saturate(1.5);
}
.start__btn:active {
  position: relative;
  bottom: -1px;
}

.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 106px;
}

.newsletter__title {
  color: #0f1f1c;
  font-size: 55px;
  font-weight: 600;
  margin-bottom: 60px;
}

.newsletter__form {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding: 12px 15px 12px 46px;
  background-color: #ffffff;
  border-radius: 35px;
}

.newsletter__input {
  font-size: 24px;
  color: rgba(15, 31, 28, 0.5);
}

.newsletter__btn {
  padding: 13px 44px;
  background: linear-gradient(172deg, #ff7b4e 0%, #ff584e 100%);
  border-radius: 27px;
  transition: all 0.2s ease-in;
  padding: 34px 87px;
  font-size: 25px;
  font-weight: 600;
  border-radius: 35px;
}
.newsletter__btn:hover {
  filter: saturate(1.5);
}
.newsletter__btn:active {
  position: relative;
  bottom: -1px;
}

.footer__row {
  padding-bottom: 87px;
}/*# sourceMappingURL=main.css.map */