/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f6f6f6;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
}

a {
  color: #ffffff;
}

.container {
  margin: 0 auto;
  padding: 0px 15px;
  max-width: 1270px;
}

.container-right {
  padding-left: calc((100% - 1270px) / 2 + 15px);
}
@media screen and (max-width: 1269px) {
  .container-right {
    padding-left: 15px;
  }
}

.none {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.no-scroll {
  overflow-y: hidden;
}

.header {
  position: relative;
  overflow: hidden;
  min-height: 940px;
  background: linear-gradient(154deg, #428e5f 0%, #112120 100%), #204434;
}
.header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 96px;
  background-image: url("/../imgs/header/header-bottom.svg");
  background-size: 100%;
}
@media screen and (max-width: 850px) {
  .header {
    min-height: unset;
  }
}

.header__top {
  position: relative;
  z-index: 2;
  padding-top: 44px;
  padding-bottom: 86px;
}
@media screen and (max-width: 850px) {
  .header__top {
    padding-top: 20px;
    padding-bottom: 43px;
  }
}

.header__row {
  display: flex;
}
@media screen and (max-width: 850px) {
  .header__row {
    flex-direction: column;
  }
}

.header__content {
  max-width: 592px;
  position: relative;
  z-index: 1;
}

.header__img {
  position: relative;
  flex-grow: 1;
}
.header__img img {
  position: absolute;
  top: -181px;
  right: -99px;
  max-width: unset;
  width: 894px;
  height: 940px;
  pointer-events: none;
}
@media screen and (max-width: 953px) {
  .header__img img {
    right: -256px;
  }
}
@media screen and (max-width: 850px) {
  .header__img img {
    position: static;
    width: 70%;
    height: auto;
  }
}
.header__img::after {
  content: "";
  position: absolute;
  background: url("../imgs/header/header-elements.svg");
  top: -64px;
  right: -29px;
  width: 830px;
  height: 630px;
  pointer-events: none;
}
@media screen and (max-width: 953px) {
  .header__img::after {
    right: -300px;
  }
}
@media screen and (max-width: 850px) {
  .header__img::after {
    top: 100;
    right: 0;
  }
}
@media screen and (max-width: 400px) {
  .header__img::after {
    display: none;
  }
}

.header__bage {
  display: inline-block;
  padding: 12px 30px;
  font-size: 18px;
  margin-bottom: 7px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.25);
}

.header__title {
  font-weight: 400;
  font-size: 55px;
  margin-bottom: 30px;
}
@media screen and (max-width: 850px) {
  .header__title {
    margin-bottom: 20px;
    font-size: 35px;
  }
}

.header__text {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 850px) {
  .header__text {
    max-width: 400px;
    margin-bottom: 40px;
    font-size: 20px;
  }
}

.header__btn {
  padding: 13px 44px;
  background: linear-gradient(172deg, #ff7b4e 0%, #ff584e 100%);
  border-radius: 27px;
  transition: all 0.2s ease-in;
  font-size: 25px;
  font-weight: 500;
  padding: 27px 47px;
  border-radius: 27px;
}
.header__btn:hover {
  filter: saturate(1.5);
}
.header__btn:active {
  position: relative;
  bottom: -1px;
}
@media screen and (max-width: 850px) {
  .header__btn {
    font-size: 16px;
    padding: 20px 30px;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 80px;
       column-gap: 80px;
}
@media screen and (max-width: 1000px) {
  .nav--footer {
    -moz-column-gap: 55px;
         column-gap: 55px;
  }
}
.nav--mobile {
  position: fixed;
  z-index: 9;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(242deg, #428e5f 0%, #112120 100%), #204434;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 60px;
  font-size: 22px;
}
.nav--mobile .nav__logo {
  font-size: 36px;
}
.nav--mobile .nav__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 40px;
}
.nav--mobile .nav__list a.active::after, .nav--mobile .nav__list a:hover::after {
  display: none;
}
.nav--mobile .nav__login {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}
.nav--mobile .nav__toggle {
  position: fixed;
  top: 50px;
  right: 15px;
}

.nav__logo {
  font-weight: 700;
  font-size: 20px;
}
.nav__logo--footer {
  color: #ff7c4e;
}

.nav__list {
  display: flex;
  -moz-column-gap: 80px;
       column-gap: 80px;
}
.nav__list a {
  position: relative;
}
.nav__list a.active::after, .nav__list a:hover::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 30px;
  height: 4px;
  background-color: #c4c4c4;
  border-radius: 50px;
}
.nav__list--footer a {
  color: rgba(15, 31, 28, 0.5);
}
.nav__list--footer a:hover::after {
  display: none;
}
@media screen and (max-width: 953px) {
  .nav__list {
    display: none;
  }
}

.nav__login {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
.nav__login--footer {
  -moz-column-gap: 46px;
       column-gap: 46px;
}
.nav__login--footer a {
  color: rgba(15, 31, 28, 0.5);
}
@media screen and (max-width: 953px) {
  .nav__login {
    display: none;
  }
}

.nav__btn {
  padding: 13px 44px;
  background: linear-gradient(172deg, #ff7b4e 0%, #ff584e 100%);
  border-radius: 27px;
  transition: all 0.2s ease-in;
  border-radius: 100px;
}
.nav__btn:hover {
  filter: saturate(1.5);
}
.nav__btn:active {
  position: relative;
  bottom: -1px;
}

.nav__toggle {
  display: none;
}
@media screen and (max-width: 953px) {
  .nav__toggle {
    display: block;
  }
}

.destinations {
  padding-top: 96px;
  padding-bottom: 100px;
  overflow-x: hidden;
}
@media screen and (max-width: 850px) {
  .destinations {
    padding: 40px 0 50px;
  }
}

.destinations__row {
  display: flex;
  -moz-column-gap: 49px;
       column-gap: 49px;
}
@media screen and (max-width: 850px) {
  .destinations__row {
    flex-direction: column;
    row-gap: 30px;
  }
}

.destinations__content {
  max-width: 456px;
}

.destinations__title {
  font-size: 30px;
  font-weight: 600;
  color: #0f1f1c;
}
.destinations__title span {
  font-size: 55px;
}
@media screen and (max-width: 850px) {
  .destinations__title span {
    font-size: 20px;
    display: block;
  }
}
@media screen and (max-width: 850px) {
  .destinations__title {
    margin-bottom: 10px;
    font-size: 35px;
  }
}

.destinations__text {
  font-size: 25px;
  color: rgba(15, 31, 28, 0.5);
  margin-bottom: 60px;
}
@media screen and (max-width: 850px) {
  .destinations__text {
    margin-bottom: 30px;
    font-size: 20px;
  }
}

.destinations__btn {
  padding: 13px 44px;
  background: linear-gradient(172deg, #ff7b4e 0%, #ff584e 100%);
  border-radius: 27px;
  transition: all 0.2s ease-in;
  padding: 25px 44px;
  font-size: 20px;
  font-weight: 600;
}
.destinations__btn:hover {
  filter: saturate(1.5);
}
.destinations__btn:active {
  position: relative;
  bottom: -1px;
}
@media screen and (max-width: 850px) {
  .destinations__btn {
    font-size: 16px;
    padding: 20px 30px;
  }
}

.destinations__slider {
  width: 1110px;
  flex-shrink: 0;
}
@media screen and (max-width: 1200px) {
  .destinations__slider {
    width: 900px;
  }
}
@media screen and (max-width: 1000px) {
  .destinations__slider {
    width: 600px;
  }
}

.slider {
  position: relative;
  height: 456px;
}
.slider .center .slider__item {
  margin-top: 0;
  height: 456px;
}
@media screen and (max-width: 850px) {
  .slider .center .slider__item {
    height: 304px;
  }
}
@media screen and (max-width: 1000px) {
  .slider .center .slider__item {
    height: 304px;
  }
}
@media screen and (max-width: 1000px) {
  .slider {
    height: 304px;
  }
}

.slider__item {
  margin-top: 27px;
  width: 335px;
  height: 402px;
  border-radius: 35px;
  transition: 0.2s ease-in;
}
@media screen and (max-width: 1000px) {
  .slider__item {
    margin-top: 18px;
    width: 223px;
    height: 268px;
  }
}

.slider__btn {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  z-index: 1;
  display: flex;
  align-items: center;
  background: linear-gradient(172deg, #ff7b4e 0%, #ff584e 100%);
  border-radius: 50%;
  width: 68px;
  height: 68px;
  transition: 0.2s ease-in;
}
.slider__btn--prev {
  padding-left: 26px;
  justify-content: flex-start;
  left: -27px;
}
@media screen and (max-width: 850px) {
  .slider__btn--prev {
    left: -15px;
  }
}
.slider__btn--next {
  right: -27px;
  padding-right: 26px;
  justify-content: flex-end;
}
@media screen and (max-width: 850px) {
  .slider__btn--next {
    right: -15px;
  }
}
.slider__btn:hover {
  filter: saturate(1.5);
}
.slider__btn:active {
  scale: 1.1;
}

.customers {
  padding-top: 100px;
  padding-bottom: 115px;
}
@media screen and (max-width: 850px) {
  .customers {
    padding: 50px 0 60px;
  }
}

.customers__row {
  display: flex;
  -moz-column-gap: 68px;
       column-gap: 68px;
}
@media screen and (max-width: 980px) {
  .customers__row {
    flex-direction: column;
  }
}

.customers__img {
  max-width: 478px;
  border-radius: 35px;
}

.customers__content {
  max-width: 565px;
}

.customers__title {
  color: #0f1f1c;
  font-size: 45px;
  font-weight: 500;
  margin-bottom: 35px;
}
@media screen and (max-width: 850px) {
  .customers__title {
    margin-bottom: 25px;
    font-size: 35px;
  }
}

.card {
  max-width: 490px;
}

.card__row {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  -moz-column-gap: 33px;
       column-gap: 33px;
}
@media screen and (max-width: 460px) {
  .card__row {
    flex-direction: column;
    margin-bottom: 30px;
  }
}

.card__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 134px;
  height: 134px;
  background: linear-gradient(172deg, #ff7b4e 0%, #ff584e 100%);
  border-radius: 50%;
}

.card__name {
  font-size: 33px;
  color: #0f1f1c;
}
@media screen and (max-width: 520px) {
  .card__name {
    font-size: 20px;
  }
}
@media screen and (max-width: 460px) {
  .card__name {
    text-align: center;
  }
}

.card__place {
  color: rgba(15, 31, 28, 0.5);
  font-size: 25px;
  font-weight: 400;
}
@media screen and (max-width: 520px) {
  .card__place {
    font-size: 16px;
  }
}

.card__text {
  color: rgba(15, 31, 28, 0.5);
  font-size: 22px;
  margin-bottom: 22px;
}
@media screen and (max-width: 520px) {
  .card__text {
    font-size: 16px;
  }
}

.card__rate {
  display: flex;
}
@media screen and (max-width: 520px) {
  .card__rate {
    width: 25px;
    height: 25px;
  }
}

.start {
  padding-top: 115px;
  padding-bottom: 135px;
  text-align: center;
}
@media screen and (max-width: 850px) {
  .start {
    padding: 50px 0px;
  }
}

.start__wrapper {
  position: relative;
  background-color: #ffffff;
  border-radius: 60px;
  min-height: 581px;
}
.start__wrapper::before {
  content: "";
  width: 63px;
  height: 83px;
  position: absolute;
  left: 74px;
  bottom: 56px;
  background-image: url("../imgs/main/start/decor1.svg");
}
.start__wrapper::after {
  content: "";
  width: 63px;
  height: 83px;
  position: absolute;
  right: 74px;
  top: 56px;
  background-image: url("../imgs/main/start/decor2.svg");
}
@media screen and (max-width: 850px) {
  .start__wrapper {
    min-height: 380px;
    padding: 20px 15px;
    border-radius: 40px;
  }
}

.start__title {
  position: relative;
  padding-top: 116px;
  margin-bottom: 30px;
  text-align: center;
  color: #0f1f1c;
  font-size: 45px;
  z-index: 1;
}
@media screen and (max-width: 850px) {
  .start__title {
    font-size: 35px;
    margin-bottom: 20px;
  }
}

.start__text {
  margin-bottom: 60px;
  font-size: 30px;
  font-weight: 400;
  color: rgba(15, 31, 28, 0.5);
}
@media screen and (max-width: 850px) {
  .start__text {
    margin-bottom: 30px;
    font-size: 20px;
  }
}

.start__btn {
  padding: 13px 44px;
  background: linear-gradient(172deg, #ff7b4e 0%, #ff584e 100%);
  border-radius: 27px;
  transition: all 0.2s ease-in;
  position: relative;
  padding: 25px 55px;
  font-size: 20px;
  font-weight: 600;
  z-index: 1;
}
.start__btn:hover {
  filter: saturate(1.5);
}
.start__btn:active {
  position: relative;
  bottom: -1px;
}
@media screen and (max-width: 850px) {
  .start__btn {
    font-size: 16px;
    padding: 20px 30px;
  }
}

.newsletter {
  padding-bottom: 106px;
}
@media screen and (max-width: 850px) {
  .newsletter {
    padding: 25px 0 30px;
  }
}

.newsletter__content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.newsletter__title {
  color: #0f1f1c;
  font-size: 55px;
  font-weight: 600;
  margin-bottom: 60px;
}
@media screen and (max-width: 850px) {
  .newsletter__title {
    margin-bottom: 30px;
    font-size: 35px;
  }
}

.newsletter__form {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding: 12px 15px 12px 46px;
  background-color: #ffffff;
  border-radius: 35px;
}
@media screen and (max-width: 850px) {
  .newsletter__form {
    padding: 10px 10px 10px 20px;
    border-radius: 25px;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
@media screen and (max-width: 460px) {
  .newsletter__form {
    flex-direction: column;
    row-gap: 10px;
  }
}

.newsletter__input {
  font-size: 24px;
  color: rgba(15, 31, 28, 0.5);
}
@media screen and (max-width: 460px) {
  .newsletter__input::-moz-placeholder {
    text-align: center;
    font-size: 16px;
  }
  .newsletter__input::placeholder {
    text-align: center;
    font-size: 16px;
  }
}
@media screen and (max-width: 850px) {
  .newsletter__input {
    font-size: 20px;
  }
}

.newsletter__btn {
  padding: 13px 44px;
  background: linear-gradient(172deg, #ff7b4e 0%, #ff584e 100%);
  border-radius: 27px;
  transition: all 0.2s ease-in;
  padding: 34px 87px;
  font-size: 25px;
  font-weight: 600;
  border-radius: 35px;
}
.newsletter__btn:hover {
  filter: saturate(1.5);
}
.newsletter__btn:active {
  position: relative;
  bottom: -1px;
}
@media screen and (max-width: 850px) {
  .newsletter__btn {
    font-size: 16px;
    padding: 20px 25px;
  }
}

.footer__row {
  padding-bottom: 87px;
}
@media screen and (max-width: 953px) {
  .footer__row {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
  }
}

.menu-icon-wrapper {
  --time: 0.1s;
  --width: 40px;
  --height: 30px;
  --line-height: 4px;
  --color: #fff;
  height: var(--height);
  width: var(--width);
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
}

.menu-icon::before,
.menu-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
}

.menu-icon::before {
  top: calc(var(--line-height) * -2);
}

.menu-icon::after {
  top: calc(var(--line-height) * 2);
}

.menu-icon.menu-icon--active {
  background-color: transparent;
}

.menu-icon.menu-icon--active::before,
.menu-icon.menu-icon--active::after {
  top: 0;
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
}

.menu-icon.menu-icon--active::before {
  transform: rotate(45deg);
}

.menu-icon.menu-icon--active::after {
  transform: rotate(-45deg);
}/*# sourceMappingURL=main.css.map */