.destinations {
  padding-top: 96px;
  padding-bottom: 100px;
  overflow-x: hidden;
}

.destinations__row {
  display: flex;
  column-gap: 49px;
}

.destinations__content {
  max-width: 456px;
}

.destinations__title {
  font-size: 30px;
  font-weight: 600;
  color: $dark;

  span {
    font-size: 55px;
  }
}

.destinations__text {
  font-size: 25px;
  color: rgb($dark, 0.5);
  margin-bottom: 60px;
}

.destinations__btn {
  @include btn;
  padding: 25px 44px;
  font-size: 20px;
  font-weight: 600;
}

.destinations__slider {
  width: 1110px;
  flex-shrink: 0;
}
