.newsletter {
  padding-bottom: 106px;

  @include media-850 {
    padding: 25px 0 30px;
  }
}

.newsletter__content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.newsletter__title {
  color: $dark;
  font-size: 55px;
  font-weight: 600;
  margin-bottom: 60px;

  @include media-850 {
    margin-bottom: 30px;
    font-size: 35px;
  }
}

.newsletter__form {
  display: flex;
  column-gap: 20px;
  padding: 12px 15px 12px 46px;
  background-color: $white;
  border-radius: 35px;

  @include media-850 {
    padding: 10px 10px 10px 20px;
    border-radius: 25px;
    column-gap: 10px;
  }

  @include mediaMobile {
    flex-direction: column;
    row-gap: 10px;
  }
}

.newsletter__input {
  font-size: 24px;
  color: rgba($dark, 0.5);

  &::placeholder {
    @include mediaMobile {
      text-align: center;
      font-size: 16px;
    }
  }
  @include media-850 {
    font-size: 20px;
  }
}

.newsletter__btn {
  @include btn;
  padding: 34px 87px;
  font-size: 25px;
  font-weight: 600;
  border-radius: 35px;

  @include media-850 {
    font-size: 16px;
    padding: 20px 25px;
  }
}
