@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  font-family: $font-main;
  background-color: $background;
  color: $white;
  font-size: 15px;
  font-weight: 500;
}

a {
  color: $white;
}

.container {
  margin: 0 auto;
  padding: 0px $container-padding;
  max-width: $container-width;
}

.container-right {
  padding-left: calc((100% - $container-width) / 2 + $container-padding);
}

.none {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
