// Container
$container-width: 1270px;
$container-padding: 15px;

// Fonts
$font-main: "Poppins", sans-serif;

// Colors
$light-gray: #fefefe;
$background: #f6f6f6;
$white: #ffffff;
$dark: #0f1f1c;

// Media
$tablet: 953px;
